doctype html
html(lang='ru')

  include ../components/head/head.pug
  include ../components/header/header.pug
  include ../components/footer/footer.pug

  head
    +head(head.defaults)
  body
    | %=symbols=%

    +header()

    .main-wrapper
      block content

    +footer()

    script(src='%=static=%js/separate-js/jquery.min.js')
    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
