doctype html
html(lang='ru')

  include ../components/head/head.pug
  include ../components/header/header.pug
  include ../components/footer/footer.pug

  head
    +head()
  body
    | %=symbols=%

    +header()

    .main-wrapper
      block content

    +footer()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
