doctype html
html(lang='ru')

  include ../components/head/head.pug
  include ../components/header/header.pug
  include ../components/footer/footer.pug

  head
    +head(head.defaults)
  body
    | %=symbols=%

    +header()

    main
      block content

    +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
