html {
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Content elements
 */

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
}

blockquote {
  & p {
  }

  & cite {
  }
}

figure {
  & figcaption {
  }
}

img {
}

ul,
ol {
  & li {
  }

  & ul,
  & ol {
  }
}

ol {
  counter-reset: item;

  & li {
    &:before {
      content: counters(item, '.') '. ';
      counter-increment: item;
      position: absolute;
      left: 0;
    }
  }
}

.content-container {
  & *:first-child {
    margin-top: 0;
  }

  & *:last-child {
    margin-bottom: 0;
  }
}

/**
 * Form controls
 */

input,
textarea,
button {
  box-shadow: none;
}

input {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear {
    display: none;
    width : 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
  }

  &::-webkit-input-placeholder {
  }

  &::-moz-placeholder {
  }

  &:-ms-input-placeholder {
  }

  &:-moz-placeholder {
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='date'] {
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

/**
 * Grid
 */

.main-wrapper {
}

.common-container {
}

/**
 * Main styles
 */

// Index page

// Other page

/**
 * Modals
 */

/**
 * Custom components
 */

/**
 * Custom styles
 */
