html,
body {
  box-sizing: border-box;
}

html {
  height: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100%;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include desktop-large-min {
    color: red;
  }
  @include desktop-large-max {
    color: green;
  }
}

.kirill {
  &_red {
    color: red;
  }
  &:before {
    color: blue;
  }
  &:hover {
    color: red;
  }
  &:active {
    color: blue;
  }
  &:nth-child(2) {
    color: red;
  }
  &__blue {
    color: blue;
  }
  &.red {
    color: red;
  }
  & + .red {
    color: red;
  }
}

/**
 * Content elements
 */

.m-p-b-reset {
  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

/**
 * Form controls
 */

input,
textarea,
button {
  box-shadow: none;
}

input {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='date'] {
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

/**
 * Grid
 */

/**
 * Main styles
 */

// Index page

// Other page

/**
 * Popups
 */

/**
 * Custom styles
 */
