@import 'vars.scss';

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calcFluidSize($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);

  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

// Fluid font size

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  font-size: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}

// Fluid line height

@mixin fluidLineHeight($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  line-height: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      line-height: $fallback;
    }
    line-height: calcFluidSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    line-height: $f-max;
  }
}

// Media queries for max-width

@mixin desktop-large-max {
  @media only screen and (max-width: #{$desktop-large}) {
    @content;
  }
}

@mixin desktop-medium-max {
  @media only screen and (max-width: #{$desktop-medium}) {
    @content;
  }
}

@mixin desktop-small-max {
  @media only screen and (max-width: #{$desktop-small}) {
    @content;
  }
}

@mixin laptop-large-max {
  @media only screen and (max-width: #{$laptop-large}) {
    @content;
  }
}

@mixin laptop-medium-max {
  @media only screen and (max-width: #{$laptop-medium}) {
    @content;
  }
}

@mixin laptop-small-max {
  @media only screen and (max-width: #{$laptop-small}) {
    @content;
  }
}

@mixin tablet-large-max {
  @media only screen and (max-width: #{$tablet-large}) {
    @content;
  }
}

@mixin tablet-medium-max {
  @media only screen and (max-width: #{$tablet-medium}) {
    @content;
  }
}

@mixin tablet-small-max {
  @media only screen and (max-width: #{$tablet-small}) {
    @content;
  }
}

@mixin phone-large-max {
  @media only screen and (max-width: #{$phone-large}) {
    @content;
  }
}

@mixin phone-medium-max {
  @media only screen and (max-width: #{$phone-medium}) {
    @content;
  }
}

@mixin phone-small-max {
  @media only screen and (max-width: #{$phone-small}) {
    @content;
  }
}

// Media queries for min-width

@mixin desktop-large-min {
  @media only screen and (min-width: #{$desktop-large}) {
    @content;
  }
}

@mixin desktop-medium-min {
  @media only screen and (min-width: #{$desktop-medium}) {
    @content;
  }
}

@mixin desktop-small-min {
  @media only screen and (min-width: #{$desktop-small}) {
    @content;
  }
}

@mixin laptop-large-min {
  @media only screen and (min-width: #{$laptop-large}) {
    @content;
  }
}

@mixin laptop-medium-min {
  @media only screen and (min-width: #{$laptop-medium}) {
    @content;
  }
}

@mixin laptop-small-min {
  @media only screen and (min-width: #{$laptop-small}) {
    @content;
  }
}

@mixin tablet-large-min {
  @media only screen and (min-width: #{$tablet-large}) {
    @content;
  }
}

@mixin tablet-medium-min {
  @media only screen and (min-width: #{$tablet-medium}) {
    @content;
  }
}

@mixin tablet-small-min {
  @media only screen and (min-width: #{$tablet-small}) {
    @content;
  }
}

@mixin phone-large-min {
  @media only screen and (min-width: #{$phone-large}) {
    @content;
  }
}

@mixin phone-medium-min {
  @media only screen and (min-width: #{$phone-medium}) {
    @content;
  }
}

@mixin phone-small-min {
  @media only screen and (min-width: #{$phone-small}) {
    @content;
  }
}
